$theme-colors: (
  "primary": #000000,
  "secondary": #FFD700,
  "danger": #E5417C
);

* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86vh;
}

.img-wrapper {
  position: relative;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 70%;
}

#container {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 100px;
}

.button {
  float: right;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 8px;
  background-color: #000;
  color: white;
  text-align: center;
}

@import '~bootstrap/scss/bootstrap';
